<?xml version="1.0" encoding="UTF-8"?>

<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
    <Properties>
        <Property name="LOG_PATTERN">%date{yyyy-MM-dd HH:mm:ss.SSS} %highlight{%5level} %style{%5pid}{magenta} --- [%15.15thread] %style{%-40.40c{1.}}{cyan} : %msg%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>